<div class="mh-container" horizontal="" layout="" flex="" ng-show="active" ng-class="{\'ready\' : ready}">
	<div class="mh-center">
		<div class="mh-user-seller" flex="" ng-show="seller">
			<div class="mh-menu" flex="">
				<div medium-large-devices="">
					<ul horizontal="" layout="">
						<li><a href="http://blog.polishop.com.vc" target="_blank">Blog</a></li>
						<li><a href="/eventos">Eventos</a></li>
						<li><a href="http://apps.polishop.com.br/empreendedor" target="_blank">My Office</a></li>
						<li><a href="http://apps.polishop.com.br/empreendedor/MyOffice" target="_blank">Binário</a></li>
						<li><a href="/atendimento/fale-conosco">Fale Conosco</a></li>
					</ul>
				</div>
				<form small-devices="">
					<select ng-model="link" ng-change="goToLink(link);">
						<option value="">Selecione</option>
						<option value="http://blog.polishop.com.vc">Blog</option>
						<option value="/eventos">Eventos</option>
						<option value="http://apps.polishop.com.br/empreendedor">My Office</option>
						<option value="http://apps.polishop.com.br/empreendedor/MyOffice">Binário</option>
						<option value="/atendimento/fale-conosco">Fale Conosco</option>
					</select>
				</form>
			</div>
		</div>
		<div class="mh-user-not-logged" horizontal="" layout="" ng-hide="seller">
			<div class="mh-public-message" flex="">
				<p>Quer uma loja dessas só pra você? <br>CLIQUE <a href="/oportunidade">AQUI</a></p>
			</div>
			<div class="mh-menu" flex="" two="">
				<div medium-large-devices="">
					<ul horizontal="" layout="">
						<li><a href="/oportunidade">Oportunidade</a></li>
						<li><a href="/empresa">A Empresa</a></li>
						<li><a href="/eventos">Eventos</a></li>
						<li><a href="http://www.polishop.com.vc/site/Cadastro.aspx">Cadastre-se</a></li>
					</ul>
				</div>
				<form small-devices="">
					<select ng-model="link" ng-change="goToLink(link);">
						<option value="">Selecione</option>
						<option value="/oportunidade">Oportunidade</option>
						<option value="/empresa">A Empresa</option>
						<option value="/eventos">Eventos</option>
						<option value="http://www.polishop.com.vc/site/Cadastro.aspx">Cadastre-se</option>
					</select>
				</form>
			</div>
		</div>
	</div>
</div>