multilevel-header {
  display: block;
  
  .mh-container {
  	padding: 1px 0;
    background: #f2f2f2;
    width: 100%;
    transition: all .7s ease;

    &.ready {
      margin-top: 104px;  
    }
  }

  .mh-center {
  	max-width: 1200px;
  	margin: auto;
  	width: 100%;
  }

  .mh-public-message {
	    line-height: 25px;
	    text-align: center;
  }

  .mh-menu {
    li {
      border: solid 1px rgb(204, 204, 204);
      overflow: hidden;
      position: relative;
      margin: 0 10px 0 0;
      padding: 10px;
      transition: all .2s ease;

      a {
        color: rgb(237, 20, 27);
      }

      &:hover {
        border-color: rgb(237, 20, 27);
          a {
            color: rgb(0, 0, 0);
          }
      }
    }
  }
}